body {
            margin: 0;
            font-family: Arial, sans-serif;
            background: linear-gradient(135deg, #19191a, #232d31, #272727);
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            overflow: hidden;
        }

        .glass-container {
            width: 93%;
            height: 88%;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 15px;
            padding: 20px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.2);
            color: white;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .navbar {
            width: 100%;
            align-items: center;
            padding: 10px 0;
            margin-bottom: 20px;
        }

        .navbar a {
            text-decoration: none;
            color: white;
            margin: 0 15px;
            font-size: 1rem;
            transition: color 0.3s ease;
        }

        .navbar a:hover {
            color: #00d9ff;
        }

        h1 {
            font-size: 2.7rem;
            margin-bottom: 20px;
            text-align: left;
            margin-left: 100px;
            width: 100%;
        }

        h2 {
            font-size: 2.4rem;
            margin-bottom: 20px;
            text-align: left;
            margin-left: 100px;
            width: 100%;
        }

        p {
            font-size: 1rem;
            line-height: 1.6;
            max-width: 800px;
            text-align: left;
            margin-left: 100px;
            width: 100%;
        }

        .button {
            display: inline-block;
            margin-left: 100px;
            margin-top: 20px;
            padding: 10px 20px;
            background: rgba(255, 255, 255, 0.2);
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 10px;
            color: white;
            text-decoration: none;
            font-size: 1rem;
            transition: all 0.3s ease;
        }

        .button:hover {
            background: rgba(255, 255, 255, 0.4);
            color: #0f2027;
        }